a
  color #2ccdec
  &:hover
    color: darken(#2ccdec, 20%)

a.grey-link
  color #aaa
  &:hover
    color: darken(#aaa, 20%)

#container
  margin-top: 50px

body:after
  content ""
  background url(../images/logo-trans-large.png) no-repeat center center fixed
  -webkit-background-size contain
  -moz-background-size contain
  -o-background-size contain
  background-size contain
  opacity 0.05
  top 0
  left 0
  bottom 0
  right 0
  position fixed
  z-index -1

.header
  height 40px
  background-image none
  background-color #fff
  a
    color #2ccdec
    &:hover
      color: darken(#2ccdec, 20%)

.content
  display block
  position relative
  margin-top 100px

.components
  td
    vertical-align middle
  .name
    width 300px
    h4
      margin-bottom 5px
  .github-link
    color #aaa

.loading
  margin: 30px auto
  height: 55px
  width: 54px
  background-image: url(../images/ajax-loader.gif)

input[type="text"].search
  height: 30px
  line-height: 35px
  width: 940px
  text-indent: 5px
  font-size: 30px
