body
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
  color: #444

h1
  text-transform: lowercase
  font-size: 32px

h1.title
  margin: 0 auto
  color: #ccc
  text-align: center

.alert
  display: none

a
  color #49afcd
  &:hover
    color: darken(#49afcd, 20%)

a.grey-link
  color #aaa
  &:hover
    color: darken(#aaa, 20%)

#container
  margin-top: 60px
  margin-bottom: 100px

body:after
  content ""
  background url(../images/logo-trans-large.png) no-repeat center center fixed
  -webkit-background-size contain
  -moz-background-size contain
  -o-background-size contain
  background-size contain
  opacity 0.05
  top 0
  left 0
  bottom 0
  right 0
  position fixed
  z-index -1

.header
  height 50px
  background-color #fff
  a
    color #2ccdec
    &:hover
      color: darken(#2ccdec, 20%)
  .brand
    margin: 0px
    padding: 0px
    width: 250px
    span
      float: left
      padding: 15px 15px 10px
      line-height: 20px
  .logo
    float: left
    background url(../images/logo-trans-xsmall.png) no-repeat
    height: 40px
    width: 40px
    margin-top: 5px

.navbar .nav > li > a
  padding: 15px 15px 10px

.content
  display block
  position relative
  margin-top 100px

.components
  td
    vertical-align middle
  .name
    width 300px
    h4
      margin-bottom 5px
  .github-link
    color #aaa

.component-title
  &h1, span
    float: left

.loading
  margin: 30px auto
  height: 55px
  width: 54px
  background-image: url(../images/ajax-loader.gif)

.loading-small
  height: 26px
  width: 26px
  background-image: url(../images/ajax-loader.gif)
  background-size: 100%
  position: absolute
  left: 230px
  top: 0px

input[type="text"].search
  height: 30px
  line-height: 35px
  width: 940px
  text-indent: 5px
  font-size: 30px

.activate-player
  height: 157px
  button, p
    width: 500px
    margin: auto auto
    display: block

.player
  position: relative
  width: 832px
  margin: 0 auto
  display: none
.caret
  margin-left: 5px !important

.player-effect .btn-group-generator
  display: none

.player-generator .btn-group-effect
  display: none

.small-logo
  width: 250px
  height: 250px
  display: block
  margin: auto auto
  background url(../images/logo-trans-small.png) no-repeat
