<h1>Creating your own web audio components</h1>

<p>
Got a great idea for a web audio component, or would like to convert a previous audio effect or tool to the specification? Awesome! First, familiarize yourself with how to build and create <a href="https://github.com/component/component/">Component(1)</a> style components, and take a glance at the Web Audio Component <a href="https://github.com/web-audio-components/web-audio-components-spec">specification</a>.</p>

<p>There's also a <a href="https://github.com/web-audio-components/web-audio-components-boilerplate">boilerplate</a> you can fork and get up and running with a simple component following the spec. When you're ready to go, submit it to the Component(1) registry and it'll appear on this site and the Web Audio Components API for others to consume and use!</p>

<p>More tutorials coming soon!</p>

<div class="small-logo"></div>
