<h1 class="title">
  A home for Web Audio Components
</h1>
<input class="search" type="text" placeholder="search..." />
<table class="table components">
  {{#components}}
    <tr data-component="{{repo}}">
      <td class="name">
        <h4>
          <a href="#components/{{repo}}">{{name}}</a>
        </h4>
        <span class="github-link"
          <a href="http://github.com/{{repo}}" class="grey-link">
            {{repo}}
          </a>
        </span>
      </td>
      <td class="description">{{description}}</td>
      <td class="stars"><i class="icon-star"></i>{{stars}}</td>
    </tr>
  {{/components}}
</table>
