<div class="modal-backdrop"></div>
<div class="modal {{type}}">
  <div class="modal-header">
    <h3>{{title}}</h3>
    <button class="close">X</button>
  </div>
  <div class="modal-body">
    {{content}}
  </div>

  <div class="modal-footer">

  </div>
</div>
