<div class="player-loading">
  <div class="loading-display"></div>
</div>
<div class="row">
  <div class="player">
    <div class="controls">
      <select class="samples">
        <option value="vox">vocals</li>
        <option value="lead">acoustic guitar lead</li>
        <option value="rhythm">acoustic guitar rhythm</li>
        <option value="solo-dry">electric guitar lead</li>
      </select>
      <div class="btn-group">
        <a href="#" class="btn play-button" data-playing="false"><i class="icon-play"></i></a>
      </div>
      <div class="hide">
        <a href="#" class="btn hide-button"><i class="icon-close"></i></a>
      </div>
    </div>
      <h3>{{name}}</h3>
    <div class="module">

    </div>
  </div>
</div>

