
@import "bootstrap/bootstrap.css"

a
  color #2ccdec
  &:hover
    color: darken(#2ccdec, 20%)

a.grey-link
  color #aaa
  &:hover
    color: darken(#aaa, 20%)

.header
  height 80px
  background-image none
  background-color #fff
  .container
    margin-top 18px
  a
    color #2ccdec
    &:hover
      color: darken(#2ccdec, 20%)

.content
  display block
  position relative
  margin-top 100px
  min-height 600px
  &:after
    content ""
    background url(/assets/images/logo-trans-large.png) no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size contain
    opacity 0.05
    top 0
    left 0
    bottom 0
    right 0
    position absolute
    z-index -1

.components
  td
    vertical-align middle
  .name
    width 300px
    h4
      margin-bottom 5px
  .github-link
    color #aaa

