
@import "skeleton/base.css"
@import "skeleton/layout.css"
@import "skeleton/skeleton.css"

.header
    margin-top 40px
    img
        width 100px
        display inline-block
    h1
        display inline-block
